html {
  font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  margin: inherit;
  padding: inherit;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#form_wrap {
  max-width: 900px;
  min-width: 600px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  background-color: #FBF9EF;
}

#form_display {
  margin-left: auto;
  margin-right: auto;
}

.display {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
}

form.member_form input {
  height: 0.8em;
}

.basic_label {
  display: inline-block;
  width: 7em;
}

.a_button {
  font-size: 80%;
  font-weight: bolder;
  text-align: center;
  padding: 2px 0.5em;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 1.5em;
  margin-right: 3em;
}

/* disable a "link" button */
.a_button_disabled {
  font-size: 80%;
  font-weight: bolder;
  text-align: center;
  padding: 2px 0.5em;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #000;
  background-color: #e8e4d8;
  color: #333366;
  margin-top: 1.5em;
  margin-right: 3em;
  cursor: not-allowed;
  pointer-events: none;
  display: block;
  text-decoration: none;
}

button.a_button {
  color: #333366;
  background-color: #99C8D3;
}

button.a_button:hover {
  color: #000;
  background-color: #e8e4d8;
}

a.a_button:link, a.a_button:visited, a.a_button:active {
  color: #333366;
  background-color: #DBE1DA;
  display: block;
  text-decoration: none;
}

a.a_button:hover {
  color: #000;
  background-color: #e8e4d8;
  display: block;
  text-decoration: none;
}

.page_header {
  padding-top: 0px;
  padding-top: 3px;
  padding-left: 2em;
  margin-top: 0px;
  margin-left: -4px;
  margin-bottom: 20px;
  width: 105%;
  height: 3em;
  border-bottom: 10px solid #9B0000;
  vertical-align: center;
  background-color: #f7f7f7;
  z-index: 10;
  opacity: 1;
}

h1 {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.default_table {
  width: 90%;
  font-size: 80%;
}

.default_table th {
  height: 1.5em;
}

.default_table tr {
  height: 1em;
}

.default_table td {
  padding-left: 0.5em;
}

.default_table td {
  border-bottom: 1px #333 solid;
  border-right: 1px #333 solid;
}

.odd_row {
  background-color: #A3F9FF;
}

/* footer */
#footer {
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: transparent;
  border-top: 1px #666152 solid;
}

#footer p {
  text-align: center;
  margin-bottom: 0.5em;
}
