// 
// _header.scss:  Wed Aug 28 13:05:14 CDT 2019
// 

.page_header{
	padding-top: 0px;
	padding-top: 3px;
	padding-left: 2em;
// 	padding-bottom: 6px;
// 	margin-top: -15px;
	margin-top: 0px;
	margin-left: -4px;
	width:105%;
	height: 3em;
	border-bottom: 10px $big_margin_color solid;
 	vertical-align:center;
	background-color:$header_bg_color;
	z-index: 10;
	opacity: 1.0;

// 	position: fixed;
} 

h1 {
    padding-left:1em;
    margin-bottom: 0.5em;
}
