// 
// _header.scss:  Wed Aug 28 13:05:14 CDT 2019
// 

.page_header{
	border-bottom: 10px $big_margin_color solid;
	width:100%;
	height: 3em;
	background-color:$header_bg_color;
	z-index: 10;
	opacity: 1.0;

	position: fixed;
} 
