// 
// _inputs.scss:  Tue Sep 3 14:23:43 CDT 2019
// 

.basic_label {
    display: inline-block;
    width:5em;
}

.address input {
    width: 15em;
}

textarea.full_sized {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 6em;
}