// 
// _layout.scss:  Wed Aug 28 14:09:34 CDT 2019
// 


#form_wrap {
    max-width: 900px;
    min-width: 600px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    background-color: #FBF9EF;
}


#form_display {
    margin-left: auto;
    margin-right: auto;
}



.display {
    margin-left: auto;
    margin-right: auto;
    width: $smaller;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
}

form.member_form input{
//     line-height: 0.8em;
    height: 0.8em;
}