// 
// _reset.scss:  Wed Aug 28 13:04:56 CDT 2019
// 


html {
    font-family: $verlag-font;
    background-color: $main-background-color;
    padding: 0;
    margin: 0;
}

body, *:before, *:after {
margin: inherit;
padding: inherit;
}

body {
    width:100%;
    height:100%;
    padding: 0 ;
    margin: 0 ;
}


