// 
// _table.scss:  Wed Aug 28 13:04:14 CDT 2019
// 


.default_table {
    width: $width-90;
    font-size: $smaller;
//    border-right:  1px #333 solid;
}

.default_table th {
    height: 1.5em;
}

.default_table tr {
    height: 1em;
}

.default_table td {
    padding-left: 0.5em;
}

.default_table td {
    border-bottom: 1px #333 solid;
    border-right:  1px #333 solid;
}

.odd_row {
    background-color:$highlight-color;
}
