// 
// _vars.scss:  Wed Aug 28 13:04:04 CDT 2019
// 

$smaller: 80%;
$full_size: 100%;
$larger: 120%;
// $header_bg_color: #8EA29F;
// $header_bg_color: #FF9E49;
// $header_bg_color: #9b0000;
$header_bg_color: #0479a8;
$main-background-color: #f7f7f7;

$big_margin_color: #666152;
$highlight-color: #77EBFF;


// fonts
$verlag-font: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif-font: Georgia,Times New Roman,Times,serif !default;
$vitesse-font: "Vitesse", "Helvetica Neue", "Helvetica", "Arial" !default;



// $default-button-bg: #99C8D3;
$default-button-bg: #e8e4d8;
$default-button-bghover: #99C8D3;
$default-button-color: #333366;
$default-button-hover-color: #000;
$default-button-fontsize: 80%;
$large-button-fontsize: 160%;

$tag_width: 140px;
$tag_auto: auto;
$tag_expanded: 160px;
$tag_long: 220px;

